name: create_eset
namespace: "eset"
authors:
  - __merge__: /src/base/authors/dries_schaumont.yaml
    roles: [ maintainer ]
  - __merge__: /src/base/authors/marijke_van_moerbeke.yaml
    roles: [ author ]
  - __merge__: /src/base/authors/katarzyna_gorczak.yaml
    roles: [ author ]
argument_groups:
  - name: "Arguments"
    arguments:
    - type: file
      name: "--pDataFile"
      required: true
    - type: file
      name: "--fDataFile"
      required: true
    - type: file
      name: "--mappingDir"
      multiple: true
      required: true
    - type: string
      name: --poolName
      required: true
    - name: "--output"
      type: file
      required: true
      direction: output
      default: eset.$id.rds
resources:
  - type: r_script
    path: script.R
test_resources:
  - type: r_script
    path: test.R
  - path: test_data/pData.tsv
  - path: test_data/fData.tsv
  - path: test_data/mapping_dir
engines:
  - type: docker
    image: rocker/r2u:24.04
    setup:
      - type: r
        cran:
          - data.table
          - nlcv
        bioc:
          - Seurat
    test_setup:
      - type: r
        cran:
          - testthat
runners:
  - type: executable
  - type: nextflow

      