target
testData
resources_test

# Nextflow related files
.nextflow
.nextflow.log*
work

# Python related files
*__pycache__*
.venv

# R related files
.Rproj.user
htrnaseq.Rproj
.Rhistory

# vscode
.vscode
