name: "publish_results"
namespace: "io"
description: "Publish the results"
argument_groups:
  - name: Input arguments
    arguments:
      - name: --star_output
        description: Output from mapping with STAR
        type: file
        multiple: true
        required: true
      - name: "--nrReadsNrGenesPerChrom"
        type: file
        multiple: true
        required: true
      - name: "--star_qc_metrics"
        type: file
        multiple: true
        required: true
      - name: "--eset"
        type: file
        multiple: true
        required: true
      - name: "--f_data"
        type: file
        multiple: true
        required: true
      - name: "--p_data"
        type: file
        multiple: true
        required: true
      - name: "--html_report"
        type: file
        required: true
      - name: "--run_params"
        type: file
        required: true
  - name: Output arguments
    arguments:
      - name: --star_output_dir
        type: file
        direction: output
        default: "star_output"
      - name: --qc_metrics_dir
        type: file
        direction: output
        default: "qc_metrics"
      - name: --eset_dir
        type: file
        direction: output
        default: "eset"
      - name: --data_dir
        type: file
        direction: output
        default: "data"
      - name: --reports_dir
        type: file
        direction: output
        default: "reports"

resources:
  - type: bash_script
    path: ./code.sh

engines:
  - type: docker
    image: debian:stable-slim
    setup:
      - type: apt
        packages:
          - procps

runners:
  - type: executable
  - type: nextflow
