name: well_demultiplex
namespace: workflows
description: Demultiplexing on well level
authors:
  - __merge__: /src/base/authors/dries_schaumont.yaml
    roles: [ maintainer ]
  - __merge__: /src/base/authors/marijke_van_moerbeke.yaml
    roles: [ contributor ]
argument_groups:
  - name: Input arguments
    arguments:
      - name: --input_r1
        description: |
          Forward reads in FASTQ format. Multiple files can be provided which will
          be demultiplexed separately before joining the results for each individual well.
        type: file
        required: true
        multiple: true
      - name: --input_r2
        description: |
          Reverse reads in FASTQ format. Multiple files can be provided which will
          be demultiplexed separately before joining the results for each individual well.
        type: file
        required: true
        multiple: true
      - name: --barcodesFasta
        type: file
        required: true
  - name: Output arguments
    arguments:
      - name: --output_r1
        description: List of demultiplexed fastq files
        type: file
        direction: output
        multiple: true
        required: true
        default: "fastq/*_R1_001.fastq"
      - name: "--output_r2"
        description: List of demultiplexed fastq files
        type: file
        direction: output
        multiple: true
        required: true
        default: "fastq/*_R2_001.fastq" 
resources:
  - type: nextflow_script
    path: main.nf
    entrypoint: run_wf

# Test dataset: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSM5357044
test_resources:
  - type: nextflow_script
    path: test.nf
    entrypoint: test_wf
  - type: nextflow_script
    path: test.nf
    entrypoint: test_wf2

dependencies:
  - name: cutadapt
    repository: bb
  - name: concat_text
    repository: cb
  - name: move_files_to_directory
    repository: cb
repositories:
  - name: bb
    type: vsh
    repo: biobox
    tag: v0.4.2
  - name: cb
    type: vsh
    repo: craftbox
    tag: v0.3.1

runners:
  - type: nextflow

engines:
  - type: native

