name: "publish_fastqs"
namespace: "io"
description: "Publish the fastq files per well"
argument_groups:
  - name: Input arguments
    arguments:
      - name: --input
        description: Directory to write fastq data to
        type: file
        multiple: true
        required: true
      - name: --skip
        type: boolean
        default: false
        description: Skip publishing of the fastq files
  - name: Output arguments
    arguments:
      - name: --output
        type: file
        direction: output
        # ID is the well barcode
        default: "$id/"

resources:
  - type: bash_script
    path: ./code.sh

engines:
  - type: docker
    image: debian:stable-slim
    setup:
      - type: apt
        packages:
          - procps

runners:
  - type: executable
  - type: nextflow
